<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahwan0m.Instadownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
    android:allowBackup="true"
    android:icon="@drawable/logo"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name="com.ahwan0m.Instadownloader.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>
    <activity
        android:name="com.ahwan0m.Instadownloader.Content"
        android:label="Content"
        android:parentActivityName="com.ahwan0m.Instadownloader.MainActivity" />
    <activity
        android:name="com.ahwan0m.Instadownloader.DownloadActivity"
        android:label="Download Video"
        android:parentActivityName="com.ahwan0m.Instadownloader.Content" />
    <activity
        android:name="com.ahwan0m.Instadownloader.WhatsApp"
        android:label="My Downloads"
        android:parentActivityName="com.ahwan0m.Instadownloader.Content" />
</application>

</manifest>